// Import Bootstrap functions and variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Import the rest of Bootstrap
@import "bootstrap/scss/bootstrap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tooltip-bg: #303030;
  --tooltip-color: #fff;
  --margin: 0.5rem;
  --text-shadow-color: #919191; 
}

html,
body {
  --theme-bg: #f0f0f0;
  --theme-bg-foreground: #0f0f0f;

  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-bg);
  color: var(--theme-bg-foreground);
}

:root body.dark {
  --tooltip-bg: #fff;
  --tooltip-color: #5b5b5b;
  --margin: 0.5rem;
  --text-shadow-color: transparent; 

  --theme-bg: #0f0f0f;
  --theme-bg-foreground: #f0f0f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@property --sb-handle-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

body {
  transition: --sb-handle-bg .3s;
}

body:hover {
  --sb-handle-bg: rgba(136, 136, 136, 0.8);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sb-handle-bg);
  border-radius: 4px;
  transition: 0.3s;
}

.pointer {
  cursor: pointer;
}

.btn-tooltip {
  position: relative;
  transition: all 0.2s;
  padding: 1rem 0;
  width: fit-content;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  bottom: calc(1.5 * var(--margin));
  left: 50%;
  transform: translateX(-50%) translateY(0%) scale(0);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  background: var(--tooltip-bg);
  color: var(--tooltip-color);
  border-radius: 0.5rem;
  z-index: 99999;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .60);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  top: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--tooltip-bg);
  border-bottom-right-radius: 0.175rem;
}

.btn-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(100%) scale(1);
}

main {
  width: 100dvw;
}

#home {
  /* /* max-width: 1280px; */
  max-width: 80dvw;
  height: 90vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition:
    all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition:
    all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  transition:
    all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.dvh-90 {
  height: 90dvh;
}

.text-indigo-500 {
  background-color: #6610f2;
}

/* Fixed so twitch chat can spam copy pasta */
.message {
  padding-inline: .25rem;
  padding-block: .75rem;
}

.message .emote {
  vertical-align: text-bottom;
}

.combined-chats .chat-iframe.ttv {
  width: calc(100% - 5px);
}

.btn-purple {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{shade-color($purple-400, 0%)};
  --bs-btn-border-color: #{shade-color($purple-400, 0%)};
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($purple-600, 10%)};
  --bs-btn-hover-border-color: #{shade-color($purple-600, 10%)};
  --bs-btn-focus-shadow-rgb: #{shade-color($purple-600, 10%)};
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(79.92, 47.52, 138.96, .5);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($purple-600, 20%)};
  --bs-btn-active-border-color: #{shade-color($purple-600, 20%)};
}